*.*
*
!*/
!Makefile
!*.mk
!*.scala
!*.[cSh]
!*.v
!*.cpp
!*.cc
!.gitignore
!.scalafmt.conf
!README.md
build/

# mill
!*.mill
!*.sc
!.mill-version
out/
.bsp/
.idea/
.idea_modules/
.vscode/
.bloop/
.metals/
test_run_dir/

# rocket-chip
rocket-chip/